<div>
  {{#each products}}
    <p>
      id:
      {{this.id}}

      name:
      {{this.name}}
      price:
      {{this.price}}
      createdAt:
      {{this.createdAt}}
    </p>
    <hr />
  {{/each}}
 </div>